

<!DOCTYPE html>
<hrml lang="pt">
   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    
    <title>Cadastro</title>
   </head>
   <body>
  <div  class="container-fluid">
       <div class="container">
           <h2 class="text-center">
               Cadastrar novo usuário 
           </h2>
        </div>
        <div class="container">
            <a href="#" class="btn-circle btn btn-primary text-center " data-toggle="modal" data-target="#modalExemplo">FOTO</a>
             <form class="">
                    <div class="form-group">
                       <label for="uname">Nome</label>
                       <input type="text" class="form-control" id="uname" placeholder="Nome" name="Name" required>
                       <div class="valid-feedback">Valid.</div>
                     <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                  <div class="form-group">
                    <label for="uname">E-mail</label>
                    <input type="text" class="form-control" id="uname" placeholder="email" name="email" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                  </div>
                  <div class="form-group">
                    <label for="pwd">Senha</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Senha" name="senha" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                  </div>
                  <br />
                  
                  <button type="submit" class="btn btn-primary btn-lg btn-block was-validated">Salvar </button>
                </form>
              </div>
    </div>
   </body> 
 <!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Selecione uma foto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Selecione uma foto para seu Cadastro
      </div>
      <div class="modal-footer">
      <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button> -->
        <button type="button" class="btn btn-primary">Biblioteca</button>
        <button type="button" class="btn btn-primary">Câmera</button>
      </div>
    </div>
  </div>
</div>
</hrml>